/* styles.css */

/* Navbar */

.grey-navbar {
    background-color: #808080 !important; /* Culoare gri */
    border-color: #808080 !important;
    height: 60px;
}

.grey-navbar .navbar-brand {
    color: #fff; /* Culoarea textului pentru brand */
    font-weight: bold
}

.grey-navbar .navbar-nav .nav-link  {
    color: white; /* Culoarea textului pentru link-uri */
    font-weight: bold;
}

.grey-navbar .navbar-nav .nav-link.active  {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

/* Container pentru fiecare categorie */
.nav-item-container {
    display: inline-block;
    margin-right: 20px; /* Spațiere între categorii */
}

/* Editare imagine fundal Home*/
body
{
      background-image: url('/static/images/home_cover.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;  /* Navbar-ul este deasupra imaginii de fundal */
      padding-top: 60px !important;
}

/* Editare tabel din pagina Home */
.linethrough {
    text-decoration: line-through;
}

/* Editare fundal alb pentru text*/
.white {
    background-color: white;
    padding: 15px;
}

/* Vizualizare text*/
.textdescription{
    white-space: pre-wrap;
}

