{% extends 'produse/base.html' %}

{% block content %}
<body>
      <style>
            body{
                background-image: url('/static/images/food_cover.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
            }
      </style>

      <h3  class="white">How to buy and cook healthy food </h3>
      <p  class="white">
          Eating healthy on a budget is crucial for overall well-being,
          providing essential nutrients to support physical and mental health. By prioritizing whole, unprocessed foods like fruits, vegetables, and grains, individuals can create nutritious meals without breaking the bank.
            <br>
            Exploring cost-effective recipes and incorporating affordable protein sources, such as beans and lentils, into one's diet can contribute to a balanced and budget-friendly approach to healthy eating.
            Embracing meal prepping and planning can further optimize resources, ensuring that wholesome, homemade meals are readily available, even for those on a tight budget.
            </br>
      </p>

      <h7  class="white">Watch the following videos on YouTube for more inspiration:</h7>
      <div class="white">
          <br>
            <iframe width="400" height="215" src="https://www.youtube.com/embed/oS0UW2664KY?si=uWzG0OSEl_ptC6H9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
            <iframe width="400" height="215" src="https://www.youtube.com/embed/CjBX4L14GaI?si=djoPp1S_3Tu69xMl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
            <iframe width="400" height="215" src="https://www.youtube.com/embed/v8iSSQfZil4?si=0s6dPvbsXjaf6rMR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
          </br>

          <br>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/gQ13c3lznFM?si=vwTVg9G015OUtGsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/VfJCM4_8f4c?si=bGVCKfnEjZTGYTeC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/LzWb_P4lYgA?si=dcEhD0GCXiccBrKd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
          </br>


          <br>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/QYcw8QbYj8o?si=aZcQNrTY4m7xYzPe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/7k6CKTYZbp0?si=F17H_8e_Q-8LRozr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
              <iframe width="400" height="215" src="https://www.youtube.com/embed/-62OkUqfgLE?si=1fsiVMv1QMHx1snt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
          </br>
      </div>
</body>

{% endblock content %}

