{% extends 'produse/base.html' %}

{% block content %}
<body xmlns="http://www.w3.org/1999/html">
      <style>
            body{
                background-image: url('/static/images/clothes_cover.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0;
                padding: 0;
            }
      </style>
      <h3 class="white">How to buy quality clothes on a budget</h3>
      <p  class="white">
          Smart shopping for quality clothing on a budget involves prioritizing essential, versatile pieces and taking advantage of sales and discounts. Consider exploring thrift stores, second-hand shops, and online platforms to find high-quality items at affordable prices.
          <br>
            Pay attention to fabric and craftsmanship, and leverage loyalty programs for additional savings, allowing you to build a stylish and durable wardrobe without exceeding your budget. </br>
      </p>
      <h7  class="white">Watch the following videos on YouTube:</h7>
      <br>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/0mTdqygbjRY?si=X-M4C2EiLeq2Sxhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/IdZ2jEDCl3g?si=Ib5UEbc4nd_Tnb9d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/aLdAPHy_Yys?si=ahwzwlneRxlFTJxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>

      <br>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/eRyf3NnGD24?si=ho_PQwXyl2RhwVeB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/ohwPgQ7yKqw?si=_VEm_nU3w9mU2yZF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/nO90UiyQqV4?si=_mRAMoRo63oh8RJT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      </br>

      <iframe width="400" height="225" src="https://www.youtube.com/embed/47BVv1xWr1M?si=kZxdwDq2ePO2IERg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/gHKRlJ1w96Y?si=HCKkLopytpiSa9vO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      <iframe width="400" height="225" src="https://www.youtube.com/embed/VUPRM36MBjw?si=7Ny5vIH7CahtgZHq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="margin-right:15px;"></iframe>
      </br>

</body>

{% endblock content %}

