.line through {
    text-decoration: line-through;
}

.navbar {
    background-color: white;
}
body {
    background-image: url('/static/img/clothes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}